@model MVCCURSO.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>teste curso, botando em prática</p>

<br />
<br />

<p>View Tipada</p>

@*<form action="Home/Lista" method="post">*@
@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
<fieldset>
    <legend>Informação de Pessoa</legend>

    @*versão HTML:*@
    @*<div>
            <label for="PessoaId">Código</label>
        </div>
        <div>
            <input type="number" value="@Model.PessoaId" name="PessoaId" />
        </div>

        <div>
            <label for="Nome">Nome</label>
        </div>
        <div>
            <input type="text" value="@Model.Nome" name="Nome" />
        </div>

        <div>
            <label for="Tipo">Tipo</label>
        </div>
        <div>
            <input type="t" value="@Model.Tipo" name="Tipo" />
        </div>

        <p><input type="submit" value="Enviar" /></p>*@

    <div>
        @Html.LabelFor(x => x.PessoaId)
    </div>
    <div>
        @Html.EditorFor(x => x.PessoaId)
    </div>

    <div>
        @Html.LabelFor(x => x.Nome)
    </div>
    <div>
        @Html.EditorFor(x => x.Nome)
    </div>

    <div>
        @Html.LabelFor(x => x.Tipo)
    </div>
    <div>
        @Html.EditorFor(x => x.Tipo)
    </div>

    <p><input type="submit" value="Enviar" /></p>

</fieldset>

}
@*</form>*@

